<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DockPanelSuite" version="3.0.6" targetFramework="net48" />
  <package id="DockPanelSuite.ThemeVS2015" version="3.0.6" targetFramework="net48" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net48" />
  <package id="MonoGame.Framework.DesktopGL" version="3.8.0.1641" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
</packages>